body {
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeXk1bTFqMXJtNThsZHBiNTR0bHZvYzkzZWIxeGo2dnY1ZWRxcTFzNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ubktuhEHhnb5C/giphy.gif");
background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100vh;
      background-blend-mode: screen;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.container {
    margin: 100px auto;
    max-width: 600px;
    padding: 40px;
 background-color: rgba(0,0,0,0.5);
 border-radius: 30px;
}


h1 {
 text-align: center;
  color: #DCD7C9;
  line-height: 50px;
  font-weight: 800;
  font size: 38px;

}

h2 {
  text-align: center;
  font-size: 18px;
  color: #DCD7C9;
  font-size: 18px;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hint {
  color: #DCD7C9;
  opacity: 0.9;
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  text-align: center;
}


.text-form {
    display: block;
  padding: 16px;
  border: 1px solid #7F8487;
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  margin: 0 auto;


  color: #7F8487;
}

.submit-button {
    display: block;
 border: 1px solid #7F8487;
 width: 20%;
 font-size: 14px;
 border-radius: 30px;
 line-height: 20px;
 color: #272044; 
 margin: 0 auto;
background-color:  #DCD7C9;
margin-bottom: 20px;
}

.answer {
    padding: 50px;
    border: 1px solid #7F8487;
    border-radius: 20px;
    max-width: 80%;
    line-height: 20px;  
    margin-bottom: 30px;
    color:  #DCD7C9;
}

footer {
    font-size: 12px;
    text-align: center;
    color:  #DCD7C9;
}

a {
    color:  #DCD7C9;
    font-style: italic;
}